@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

#root {
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

@media (max-width: 992px) {
    #root {
        width: 95%;
    }
}

@media (min-width: 992px) {  
    #root {
        width: 1280px;
    }
}

p, div, span, label, input, button, h1, h2, h3, h4, h5, h6 {
    font-family: "Kodchasan", sans-serif;
}

p, div, span, label, input, button {
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

p, h3 {
    margin: 5px 0;
}

hr {
    width: 70%;
    border: none;
    border-top: 3px double;
    margin: 20px auto 0;
}

.container {
    display: grid;
    grid-auto-rows: minmax(50px, auto);
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: dashed mediumspringgreen;
    border-radius: 10px;
}

@media (max-width: 992px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 992px) {  
    .container {
        grid-template-columns: 1fr 2fr;
    }

    .left-container {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .right-container {
        grid-column-start: 2;
        grid-column-end: 4;
    }
}

.container-inner {
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
    padding: 0;
    border: none;
}

.box {
    background-color: snow;
    border: thick double slateblue;
    border-radius: 10px;
    padding: 0px 10px 10px;
}

.text-left {
    text-align: left;
}

.edit-box {
    margin-top: 10px;
    padding-top: 10px;
}

.each-entry {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 10px 0;
    text-align: left;
}

.full {
    grid-column-start: 1;
    grid-column-end: 6;
}

@media (max-width: 992px) {
    .one-fifth {
        grid-column-start: 1;
        grid-column-end: 6;
        margin: 5px 0 5px;
    }
    
    .four-fifths {
        grid-column-start: 1;
        grid-column-end: 6;
        margin: 5px 0 10px;
    }
}

@media (min-width: 992px) {  
    .one-fifth {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .four-fifths {
        grid-column-start: 2;
        grid-column-end: 6;
    }
}    

.input {
    margin: 2px 0;
    box-sizing: border-box;
    width: 100%;
}

.button {
    border: thick double chocolate;
    width: fit-content;
    margin: 5px 0;
    padding: 0px 5px;
}

.button:hover {
    background-color: lightsalmon;
    border: thick double sienna;
    transition: background-color 0.5s ease;
}

.button-right {
    text-align: right;
}

.buttons-hide {
    display: none;
}